.bordes{
    border-style: dashed;/*Estilo de borde*/
    border-width: 0px;/*Grosor de borde*/
    border-left: #dd1c21;/*Color del borde izquierdo*/
    border-right:#dd1c21 ;/*Color del borde derecho*/
    background-color: lightgrey; /*Color del fondo del borde*/
    border-radius: 9px;/*Grosor del radio del borde para hacerlo redondeado*/
    padding-left: 30px; /*Relleno de la parte izquierda*/
    padding-right: 30px; /*Relleno de la parte derecha*/
    outline-style: solid; /*Relleno externo de esta parte*/
    outline-color:#dd1c21; /*Color de la línea externa*/
  

}
.bordes2{
    border-style: solid ;
    border-width: 2px ;
    border-top: floralwhite ; /*Color del borde superior*/
    border-left: floralwhite; 
    border-right: floralwhite;
    border-bottom: 4px solid #dd1c21; /*Borde subrayado, con color del borde establecido*/
    background-color: rgb(250, 133, 133); /*Color de fondo de la parte de abajo de la tabla */
    padding-right: 30px; 
    padding-left: 30px; 
    border-radius: 9px;    
}

/* Importamos la fuente Shippori a titulo 2 */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
h2{
    font-family: 'Shippori Antique B1', sans-serif;
    text-align: center;
}

/* Modificamos el h3 poniendo la fuente Shippori */
h3{
    font-family: 'Shippori Antique B1', sans-serif;
}

/* Modificamos el parrafo, ajustando el tamaño que ocupa al 60%, añadiendole unos margenes automaticos, alineandolo al centro, y añadiendo un margen debajo del 2% */
p {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 2%;
}

/* Modificamos el iframe (video) ajustando su tamaño al 60% y margen de la izq al 20% para que esté centrado y su radio sea de 50px */
iframe{
    width: 60%;
    margin-left: 20%;
    margin: 0 auto;
    display:block;
    border-radius: 50px;
}

/* Modificamos la clase video, poniendo su tamaño al 100%, el fondo a color negro, con un paddig arriba y abajo */
.video{
    width: 100%;
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* Modificamos la pagina para que se ajuste al tamaño del dispositivo */
html {
    box-sizing: border-box;
}


*, *:before, *:after {
    box-sizing: inherit;
}



/* Modificamos la columna para que ocupe el 100% cuando la pagina sea hasta 1020px, display block, impide que haya objetos en el lateral */
@media screen and (max-width: 1020px) {
    .column {
    width: 100%;
    display: block;
}
}

/* Modificamos card, añadiendole una sombra  */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}



/* Modificamos antes y despues del container deja espacio para el siguiente bloque y aplica un estilo de tabla */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}









