/* Hacemos que en el select, el elemento seleccionado inicialmente aparezca en rojo */
select:focus > option:checked { 
    background: #dd1c21 !important;
}

/* Modificamos el fondo de la pagina de contacto poniendole una imagen con efecto parallax*/
body#contacto {
    background-image: url("https://images.unsplash.com/photo-1633983224634-2244a7bef3b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Modificamos el header, añadiendole un fondo, ajustandolo y poniendo que su tamaño son 500px y ocupa el 100% de la pantalla */
.header {
    background-image: url("https://images.unsplash.com/photo-1612972806701-9cffb7470ed2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-size: cover;
    width: 100%;
    height: 500px;
}