.bordes{
    border-style: dashed;/*Estilo de borde*/
    border-width: 0px;/*Grosor de borde*/
    border-left: #dd1c21;/*Color del borde izquierdo*/
    border-right:#dd1c21 ;/*Color del borde derecho*/
    background-color: lightgrey; /*Color del fondo del borde*/
    border-radius: 9px;/*Grosor del radio del borde para hacerlo redondeado*/
    padding-left: 30px; /*Relleno de la parte izquierda*/
    padding-right: 30px; /*Relleno de la parte derecha*/
    outline-style: solid; /*Relleno externo de esta parte*/
    outline-color:#dd1c21; /*Color de la línea externa*/
  

}

.bordes2{
    border-style: solid ;
    border-width: 2px ;
    border-top: floralwhite ; /*Color del borde superior*/
    border-left: floralwhite; 
    border-right: floralwhite;
    border-bottom: 4px solid #dd1c21; /*Borde subrayado, con color del borde establecido*/
    background-color: rgb(250, 133, 133); /*Color de fondo de la parte de abajo de la tabla */
    padding-right: 30px; 
    padding-left: 30px; 
    border-radius: 9px;    
}