/*CSS perteneciente al slider*/
* {box-sizing: border-box} /* Decimos que todo el documento tenga ese estilo de tabla */
body {margin:0} /* Le damos un margen a todo el body */
.mySlides {display: none} /* Decimos que no se muestren todas las slides */
.mySlides:nth-child(1) {display: block} /* Le decimos que solo muestre la primera */
img {vertical-align: middle;} /* Decimos que la imagen esté centrada verticalmente al medio */

/* Le damos un tamaño y le decimos que la posición dependa de los valores que le demos, y no de su elemento padre */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Definimos esto para las flechas de anterior y siguiente */
.prev, .next {
  cursor: pointer; /* El cursor cambie */
  position: absolute;/* Su posición sea dependiente al elemento padre */
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;/* Hacemos una pequeña animación al selecionarlo */
  border-radius: 0 3px 3px 0;
  user-select: none;/* Evitamos que se pueda seleccionar la flechita */
}

/* Mandamos la flecha de anterior a la izquierda y le damos un pequeño redondeado a los bordes */
.prev{
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Mandamos la flecha de siguiente a la derecha y le damos un pequeño redondeado a los bordes */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Le damos un estilo a las flechas cuando se pasa el cursor por encima */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Le damos estilo a los textos */
.text {
  color: #ffffff;
  background-color: black;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-shadow:rgb(0, 0, 0);
}

/* Le damos un estilo a los números de slide actual */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Le damos un estilo a los circulitos de cada slide */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Le damos un estilo a los circulitos cuando se pasa el cursor por encima */
.active, .dot:hover {
  background-color: #717171;
}

/* Hacemos que el slide anterior se desvanezca */
.fade {
  -webkit-animation-name: fade;/* Mostramos el tipo de animación */
  -webkit-animation-duration: 1.5s;/* Mostramos la duración de la animación */
  animation-name: fade;/* Decimos el tipo de animación */
  animation-duration: 1.5s;/* Y la duración */
}
/* Declaramos qué es lo que hace la animación, así como sus keyframes */
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Hacemos que, a un tamaño de pantalla por debajo de 300px, el tamaño del texto disminuya */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Le damos un ancho constante a las imágenes */
img{
  width: 100%; 
}


