/* Modificamos el fondo de la pagina de contacto poniendole una imagen con efecto parallax*/
body#contacto {
  background-image: url("https://images.unsplash.com/photo-1633983224634-2244a7bef3b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Modificamos el bloque de contacto, añadiendo espacio debajo y arriba, poniendole un gradiente y ajustando su opacidad */
section#contacto {
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 50px;
  background-image: linear-gradient(to top, gray, white);
  opacity: .90;
}


