/* Modificamos el footer */
footer {
    height:50px;
    line-height:50px;
    background:rgb(0, 0, 0);
    color:white;
    text-align:center;
    bottom: 0;
    width:100%;
  }
    
  /*Modificamos los enlaces del footer*/
  footer div a{
    text-decoration:none;
    color: white;
  }

  @media screen and (max-width: 500px) {
    footer {
      height: 5%;
    }
  }