/* Le damos unos márgenes interiores y exteriores, además de darle una fuente; además de darle una forma de caja al input */
input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

/* Formateamos la caja donde se introducirá el texto del comentario, le damos una altura, bordes interiores, un borde redondeado y evitamos que se pueda cambiar el tamaño */
textarea{
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
}
/* Le damos estilo a los botones y hacemos que el cursor cambie de tipo */
input[type=button], input[type=submit], input[type=reset] {
    display: inline-block;
    background-color: #dd1c21;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 4px 2px;
    cursor: pointer;
  }

/* Hacemos que, cuando la pantalla esté a 900px, se cambie la anchura de los elementos .margenForm, input[type=submit], input[type=reset] */
@media screen and (max-width: 900px) {
    .margenForm, input[type=submit], input[type=reset] {
      width: 100%;
      margin-top: 0;
    }
}

.formGaleria{
  display: table;
  margin: 0 auto;
  text-align: center;
}

/* Centramos la sección, le damos espaciado interior y un fondo */
section{
  margin: auto;
  width: 70%;
  padding: 3%;
  background-color: white;
}

/* Para evitar que el mapa se superponga con el formulario, lo mandamos abajo y hacemos que su tamaño sea variable */
@media (max-width:1600px) {
  /* Alineamos todo al centro */
  body {
      text-align: center;
  /* Respetamos los márgenes inferiores y superiores */
  }
  form {
      display: inline-block;
  }
  /* Centramos el contenido del section con un flex */
  section {
      display:-webkit-flex;
      display:flex;
      -webkit-flex-direction:column;
      flex-direction:column;
  }
  /* Le decimos que nos ponga en la parte superior el article */
  section article {
      -webkit-order:1;
      order:1;
  }
  /* Y en la inferior el aside */
  section aside {
      -webkit-order:2;
      order:2;
      float:initial;
      width:initial;
  }
}

/* Modificamos el bloque de contacto, añadiendo espacio debajo y arriba, poniendole un gradiente y ajustando su opacidad */
section#contacto {
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 10px;
  background-image: linear-gradient(to top, lightgrey, darkgrey);
  opacity: .90;
}
