.grid-container_services {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

.grid-item_services {
  background-color: rgba(192, 56, 56, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .grid-container_services {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .grid-item_services {
    background-color: rgba(192, 56, 56, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  }
}