/* Modificamos el h2 del article para ponerlo centrarlo y darle un margen de 5% */
article h2 {
    text-align: center;
    margin-top: 5%;
}

/* Modificamos el titulo uno de la columna 2 */
.column2 h1 {
    font-size: 50px;
}

/* Modificamos el parrafo de la columna 2 */
.column2 p {
    font-size: 30px;
}

/* Modificamos el color del titulo 1 de la columna 2 y el tamaño de la misma */
.column2 h1 {
    color: black;
    font-size: 50px;
}

/* Modificamos el bloque de testimonios, dandole fondo, tamaño, disposicion y espacio */
.testimonios {
    background-color: #dd1c21;
    height: 300px;
    display: inline-block;
    width: 100%;
}

/* Modificamos el enlace del botón haciendolo bold, centrandolo, sin decoración, ajustando la fuente, y el espacio entre letras */
.botoncillo a{
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: white;
    white-space: nowrap;
}
