section{
    margin: auto;
    width: 70%;
    padding: 3%;
    background-color: white;
}


@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
section h1{
    font-family: 'Shippori Antique B1', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5%;
}
section h1 strong{
    color: #dd1c21;
}

aside{
    float: right;
}

.margenForm{
    padding: 0 0 15px;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
  }

textarea{
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
}

input[type=button], input[type=submit], input[type=reset] {
    display: inline-block;
    background-color: #dd1c21;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 4px 2px;
    cursor: pointer;
    transition: all .25s ease-in-out;
    font-family: 'Baloo 2', cursive;
  }

  label, textarea{
    font-family: 'Baloo 2', cursive;
  }

@media screen and (max-width: 900px) {
    .margenForm, input[type=submit], input[type=reset] {
      width: 100%;
      margin-top: 0;
    }
}

/* Para evitar que el mapa se superponga con el formulario, lo mandamos abajo y hacemos que su tamaño sea variable */
@media (max-width:1600px) {
    /* Alineamos todo al centro */
    body {
        text-align: center;
        
    }
    form {
        display: inline-block;
    }
    section {
        display:-webkit-flex;
        display:flex;
        -webkit-flex-direction:column;
        flex-direction:column;
    }
    section article {
        -webkit-order:1;
        order:1;
    }
    section aside {
        -webkit-order:2;
        order:2;
        float:initial;
        width:initial;
    }
    .iframe-rwd iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .iframe-rwd  {
        position: relative;
        padding-bottom: 65.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
}
