article h2 {
    text-align: center;
    margin-top: 5%;
}
  
article img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    height: 50%;
    width: 50%;
    margin-top: 2%;
    display:block;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}