/* Definimos los parámetros de las columnas */

.column {
    float: left;
    width: 25%;
    margin: auto;
    height: auto;
    padding: 4.16%;
    text-align: center;
    background-color:#db4d52; /*fccb62*/
    /*border: 1px solid rgb(0, 0, 0);*/
  }
 
.column1 {
    float: left;
    width: 25%;
    margin: auto;
    height: auto;
    padding: 4.16%;
    text-align: center;
    background-color:#dd3e44; /*fcc54e*/
    /*border: 1px solid rgb(0, 0, 0);*/
  }

.column2 {
    float: left;
    width: 25%;
    margin: auto;
    height: auto;
    padding: 4.16%;
    text-align: center;
    background-color:#e23137; /*fabc36*/
    /*border: 1px solid rgb(0, 0, 0);*/
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Definimos los parámetros de las imágenes dentro de la sección 'services' */

img {
    width: 80%;
    height:auto;
    border-bottom: 2px solid rgb(165, 25, 20); /*235, 145, 44*/
}

/* Definimos los parámetros del 'header2' dentro de la sección 'services' */

h2{
    text-transform: uppercase;
    font-family: 'Shippori Antique B1', sans-serif;
    text-align: center;
    padding-bottom: 5%;
    margin-top: -10%;
}

/* Definimos los parámetros del las columnas responsive para dispositivos móviles */

.column_text {
  column-count: 3;
  column-gap: 35px;
  column-rule: 4px solid #b41c35;
  text-align: justify;
  padding: 5%;
  font-family: 'Shippori Antique B1', sans-serif;
}

/* Con '@media' definimos sobre qué atributo queremos realizar los cambios (en este caso, la pantalla) */

@media screen and (max-width: 600px) {
  h2{
    text-transform: uppercase;
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 90%;
    text-align: center;
    padding-bottom: 5%;
    margin-top: -5%;
  }
}

@media screen and (max-width: 600px) {
  img {
    width: 110%;
    height:auto;
    border-bottom: 2px solid rgb(165, 25, 20); /*235, 145, 44*/
  }
}

@media screen and (max-width: 600px) {
  .column_text {
    column-count: 1;
    column-gap: 35px;
    column-rule: 4px solid #b41c35;
    text-align: justify;
    font-size: 80%;
    padding: 5%;
    font-family: 'Shippori Antique B1', sans-serif;
  }
}
