/* Definimos los parámetros de las columnas */

.column {
    float: left;
    width: 25%;
    margin: auto;
    height: auto;
    padding: 4.16%;
    text-align: center;
    background-color:#db4d52; /*fccb62*/
    /*border: 1px solid rgb(0, 0, 0);*/
  }
 
.column1 {
    float: left;
    width: 25%;
    margin: auto;
    height: auto;
    padding: 4.16%;
    text-align: center;
    background-color:#dd3e44; /*fcc54e*/
    /*border: 1px solid rgb(0, 0, 0);*/
  }

.column2 {
    float: left;
    width: 25%;
    margin: auto;
    height: auto;
    padding: 4.16%;
    text-align: center;
    background-color:#e23137; /*fabc36*/
    /*border: 1px solid rgb(0, 0, 0);*/
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Definimos los parámetros de las imágenes dentro de la sección 'services' */

img {
    width: 80%;
    height:auto;
    border-bottom: 2px solid rgb(165, 25, 20); /*235, 145, 44*/
}

/* Definimos los parámetros del 'header2' dentro de la sección 'services' */

h2{
    text-transform: uppercase;
    font-family: 'Arial';
    text-align: center;
}

/* Definimos los parámetros del las columnas responsive para dispositivos móviles */

.column_one {
  float: left;
  width: 31.21%;
  padding: 20px;
  background-color:rgb(192, 61, 57); /*235, 145, 44*/
}

.row_one:after {
  content: "";
  display: table;
  clear: both;
}

/* Con '@media' definimos sobre qué atributo queremos realizar los cambios (en este caso, la pantalla) */

@media screen and (max-width: 992px) {
  .column_one {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column_one {
    width: 100%;
  }
}
